<!doctype html>

<title>GenTool</title>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Enter the Reads</h1>
<form method="POST" action="/send">
	<div class="form-group">
	<textarea class="form-control" rows=5 name="reads"></textarea>
	<input type="checkbox" name=cb1> Text <br>
	<input type="file" class="form-control-file" name="filename">
	<input type="checkbox" name=cb2> File <br>
	</div>
	<input class="btn btn-primary" type="submit" value="submit">
</form> 
