<!doctype html>

<title>GenTool</title>
 
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
 <style>
 body{
 	
 	background: url('http://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/crispr-editorial.jpg?itok=5KVWZszv') no-repeat fixed center center;
 }
 </style>
<!-- navbar -->
 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div style="color:red;"><a class="navbar-brand" href="{{ url_for('index') }}" >GenTool</a></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        
        
        <li><a href="{{ url_for('spectrum') }}">RNAStruct</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GenAssembly
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('strAssembler') }}">StrAssembler</a></li>
          <li><a href="{{ url_for('graphAssembler') }}">GraphAssembler</a></li>
        </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ProSpec
        <span class="caret"></span></a>
        <ul class="dropdown-menu ">
          <li><a href="{{ url_for('sec1') }}">sec1</a></li>
          <li><a href="{{ url_for('sec2') }}">sec2</a></li>
        </ul>
        </li>
        <li><a href="#">Documentation</a></li>
      
      </ul>
    </div>
  </div>
</nav>

<!-- Form begins -->
{%if superstring%}
  <div class="container" id="formc" >
  <label for="result"><h2>Result</h2></label>
  <textarea class="form-control" rows=5 name="result">
  {% for item in superstring%}
    {{item}}
  {%endfor%}  
  </textarea>
  </div>

{%else%}
<div class="container" id="formc" >
<form method="POST" action="/sec1" class="form-horizontal" >
	<div class="form-group">
	<label for="string1"><h2>Finding most similar protein</h2></label>
	<textarea class="form-control" rows=5 name="string1"></textarea>
  <br>
  <textarea class="form-control" rows=5 name="string2"></textarea>
	<input type="checkbox" name=cb1> Text <br>
	<input type="file" class="form-control-file" name="filename1">
  <br>
  <input type="file" class="form-control-file" name="filename2">
	<input type="checkbox" name=cb2> File <br>
	</div>
	<input class="btn " type="submit" value="Submit">
</form> 
</div>
{%endif%}