<!doctype html>

<title>GenTool</title>
 
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
 <style>
 body{
 	
 	background: url('https://www.walldevil.com/wallpapers/a81/6583-network-dot-connection-line.jpg') no-repeat fixed center center;
 }
 </style>
 
<!-- navbar -->
 <body  id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div style="color:red;"><a class="navbar-brand" href="#" >GenTool</a></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#">TOOLS</a></li>
        <li><a href="#">DOCUMENTATION</a></li>
        <li><a href="#">TUTORIAL</a></li>
        <li><a href="#">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="formc" >
<label for="result"><h2>Result</h2></label>
<textarea class="form-control" rows=5 name="result">{{superstring}}</textarea>
<br>
<img src="{{url_for('static',filename='graph.png')}}" height="300" width="300" alt="no pic" style="margin-left:20%">

</div>

</body>
</html>


